PARATERA_BASE_URL=https://llmapi.paratera.com/v1
PARATERA_API_KEY=
PARATERA_QWEN_THINKING_MODEL=Qwen3.7-Plus
PARATERA_QWEN_NONTHINKING_MODEL=Qwen3.7-Plus
PARATERA_DEEPSEEK_THINKING_MODEL=DeepSeek-V4-Pro-0813
PARATERA_DEEPSEEK_NONTHINKING_MODEL=DeepSeek-V4-Pro-0813
