PARATERA_BASE_URL=https://llmapi.paratera.com/v1
PARATERA_API_KEY=
PARATERA_QWEN_THINKING_MODEL=
PARATERA_QWEN_NONTHINKING_MODEL=
PARATERA_DEEPSEEK_THINKING_MODEL=
PARATERA_DEEPSEEK_NONTHINKING_MODEL=
